/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
}

.main_section {
    background-color: beige;
    background-image: url(images/colorado_bg.jpg);
    height: 85vh;
    background-size: cover; /* Adjust to cover for better responsiveness */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
    overflow: hidden;
}

.main_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    pointer-events: none;
    z-index: 1;
}

.main_section > * {
    position: relative;
    z-index: 2;
}

/* Navbar */
.navbar {
    padding: 15px 25px;
    font-size: 11px;
    color: rgb(248, 241, 241);
}

/* Welcome Section */
.welcome_section {
    margin: 245px 250px;
    text-align: center;
}

.welcome_section h1 {
    color: rgb(248, 241, 241);
    font-size: 25px;
}

.welcome_section h3 {
    color: rgb(248, 241, 241);
    font-size: 50px;
    width: 100%; /* Make it responsive */
    max-width: 470px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.welcome_section button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px auto 0 auto;
    padding: 5px 40px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: rgb(82, 92, 235);
    color: rgb(248, 241, 241);
}

.welcome_section button:hover {
    background-color: rgb(50, 60, 206);
}

.location {
    margin-top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 241, 241);
}

/* Second Section */
.second_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Make it responsive */
    gap: 200px;
    padding: 20px; /* Add some padding */
    height: auto; /* Adjust height */
    color: rgb(61, 59, 64);
    background: linear-gradient(to bottom, whitesmoke 50%, rgba(182, 197, 221, 0.568) 100%);
    background-repeat: no-repeat;
   
}

.about_me h1 {
    margin-top: 75px;
    font-size: 45px;
    text-align: center;
}

.about_me h4 {
    border-top: solid 2.5px rgb(61, 59, 64);
    width: 100%;
    max-width: 400px;
    padding-top: 50px;
    font-size: 17px;
    text-align: center;
}

.about_me h5{
    border-bottom: solid 2.5px rgb(61, 59, 64);
    width: 100%;
    max-width: 400px;
    margin: px auto;
    padding: 50px 0px;
    font-size: 17px;
    text-align: center;
}

.me_img img {
    margin-top: 120px;
    width: 100%;
    max-width: 480px;
    height: 500px;
    border-radius: 1000px;
}

/* Map Section */
.map_section {
    background-color: rgba(182, 197, 221, 0.568);
    padding: 20px; /* Add some padding */
    text-align: center;
}

.map_section h3 {
    display: flex;

    justify-content: center;
    color: rgb(50, 60, 206);
    padding-top: 20vh;

}

.us_map {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.us_map svg {
    width: 100%;
    max-width: 100vh; /* Limit the maximum width to avoid overflow */
    padding-top: 1vh;
    padding-bottom: 8vh;
}

.us_map path {
    fill: rgb(61, 59, 64);
}

#tx, #nm, #az, #nv, #ny {
    fill: rgb(84, 134, 211);
}

#tx:hover, #nm:hover, #az:hover, #nv:hover, #ny:hover {
    fill: rgba(84, 135, 211, 0.712);
}

#co, #fl {
    fill: rgb(199, 122, 122);
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    transition: opacity 0.5s ease;
}

.modal-content {
    background-color: #708394fa;
    margin: 3% auto; /* 5% from the top and centered */
    padding: 10px;
    width: 90%; /* Responsive width */
    max-width: 800px; /* Max width for large screens */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: relative;
    max-width: 90%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 80%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for visibility */
}

.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 10px;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .welcome_section {
        margin: 200px 100px;
    }

    .welcome_section h3 {
        font-size: 40px;
        
    }

    .second_section {
        gap: 50px;
    }

    .second_section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
}

@media (max-width: 768px) {
    .main_section{
        height: 75vh;
    }

    .welcome_section h3 {
        font-size: 20px;
    }

    .second_section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -50px;
    }

    .me_img{
        display: flex;
        justify-content: center;
        margin-bottom: -100px;
    }

    .me_img img{
        height: 340px;
        width:260px;

    }
    .about_me{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about_me h1 {
        font-size: 30px;
    }

    .about_me h4, .about_me h5 {
        font-size: 14px;
        padding: 20px 0;
    }

    .map_section h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    
}

/*---IPHONE---*/
@media (max-width: 480px) {
    .main_section{
        height: 80vh;
    }

    .welcome_section h3 {
        font-size: 20px;
    }

   

    .second_section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -50px;
    }

    .me_img{
        display: flex;
        justify-content: center;
        margin-bottom: -100px;
    }

    .me_img img{
        height: 340px;
        width:260px;

    }

    .about_me h1 {
        font-size: 30px;
    }

    .about_me h4, .about_me h5 {
        font-size: 14px;
        padding: 20px 0;
    }

    .map_section h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .modal-content{
        margin: 50% auto; /* 5% from the top and centered */
        width: 46vh;
    }
}
