html {
  scroll-behavior: smooth;
}

* {
  --whitefont: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.main-section {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 22, 17, 0) 60%,
      /* Start transparent at 60% height */ rgb(17, 19, 22) 90%
        /* Transition to solid color from 90% */
    ),
    url(imgs/946678c3-2d74-4a20-9d14-70f3b92958b3-EDIT.jpg);
  height: 94vh;
  background-size: cover; /* Adjust to cover for better responsiveness */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.welcome {
  color: var(--whitefont);
  margin-left: 10%;
  margin-bottom: 50px;
  width: 500px;
}

.welcome h1 {
  font-size: 1.3rem;
  margin-bottom: -10px;
}

.welcome h2 {
  margin-bottom: -5px;
  font-size: 3rem;
  font-weight: 900;
}

.welcome h3 {
  font-size: 0.9rem;
}

.welcome #explore {
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 15px;
  background-color: transparent;
  width: 200px;
  color: var(--whitefont);
}

.welcome #explore:hover {
  background-color: rgba(195, 198, 214, 0.281);
}

.map-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: var(--whitefont);
  height: 80vh;
  background-color: rgb(17, 19, 22); /* Solid color matching the gradient end */
}

.us_map {
  width: 110vh;
  height: auto;
}

.us_map path {
  fill: rgb(137, 140, 143);
}

#tx,
#nm,
#az,
#nv,
#ny,
#co {
  fill: rgb(104, 152, 224);
}

#tx:hover,
#nm:hover,
#az:hover,
#nv:hover,
#ny:hover,
#co:hover {
  fill: rgb(155, 176, 207);
}

#fl {
  fill: rgb(211, 219, 245);
}

.close-button {
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 15px;
  box-shadow: none;
  color: #fafafa93;
}

.close-button:focus {
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Prevent focus styles like box-shadow */
}

.close-button:hover {
  color: #fafafa;
}

#carouselExampleIndicators {
  position: absolute; /* Absolute positioning for the overlap */
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Adjusts for the center point */
  z-index: 2; /* Brings the carousel on top of the map */
  width: 60vh; /* Adjust as needed to fit the size of the overlap */
  /*Wont show up unless state is pressed*/
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.carousel-inner img {
  max-height: 100%; /* Ensure image fits within the carousel */
  object-fit: cover;
}

.videos {
  height: 95vh;
  background-image: linear-gradient(
      to top,
      rgba(19, 22, 17, 0) 60%,
      /* Start transparent at 60% height */ rgb(17, 19, 22) 90%
        /* Transition to solid color from 90% */
    ),
    url(imgs/IMG_1678-EDIT.jpg);
  background-size: cover; /* Adjust to cover for better responsiveness */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 768px) {
  .welcome h2 {
    font-size: 2rem;
  }

  .welcome h1,
  .welcome h3 {
    font-size: 1rem;
  }

  #carouselExampleIndicators {
    width: 70vw; /* Full width on mobile */
  }

  .map-section {
    height: 70vh;
  }
}
